:host {
  .panel-wrapper {
    position: relative;
    overflow: hidden;
  }

  canvas {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .action-panel {
    background: transparent;
    pointer-events: none;
  }

  .mask {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    pointer-events: none;
    .editCell {
      font-size: 1rem;
      padding: 0.25rem 0.5rem;
      position: absolute;
      box-sizing: border-box;
      pointer-events: auto;
      // border: 2px solid #096;
      border: none;
      &:focus {
        outline: none;
      }
    }
  }
}
