<div style="position: absolute; right: 0; height: 40px; line-height: 40px">
  <a href="https://github.com/YuhuaLi/report-editor"
    ><img
      style="width: 16px; height: 16px"
      src="https://github.githubassets.com/favicons/favicon.png"
    />GitHub</a
  >
</div>
<div class="toolbar">
  <!-- <button type="button" (click)="toggleCombine()">combine</button> -->
  <a (click)="toggleCombine()"><i class="iconfont icon-hebingdanyuange"></i></a>
  <!-- <button
    type="button"
    (click)="
      changeStyle({
        fontWeight:
          (activeCell && activeCell.style.fontWeight === 'bold' && 'normal') ||
          'bold'
      })
    "
    [ngStyle]="{ 'font-weight': activeCell?.style.fontWeight || 'normal' }"
  >
    bold
  </button> -->
  <a
    (click)="
      changeStyle({
        fontWeight:
          (activeCell && activeCell.style.fontWeight === 'bold' && 'normal') ||
          'bold'
      })
    "
    ><span
      class="iconfont"
      [ngStyle]="{ 'font-weight': activeCell?.style.fontWeight || 'normal' }"
      >B</span
    ></a
  >
  <!-- <button
    type="button"
    (click)="
      changeStyle({
        fontStyle:
          activeCell && activeCell.style.fontStyle === 'italic'
            ? 'normal'
            : 'italic'
      })
    "
    [ngStyle]="{ 'font-style': activeCell?.style.fontStyle || 'normal' }"
  >
    Italic
  </button> -->
  <a
    (click)="
      changeStyle({
        fontStyle:
          activeCell && activeCell.style.fontStyle === 'italic'
            ? 'normal'
            : 'italic'
      })
    "
    ><span
      class="iconfont"
      [ngStyle]="{ 'font-style': activeCell?.style.fontStyle || 'normal' }"
      >I</span
    ></a
  >
  <!-- <button
    type="button"
    (click)="changeStyle({ textAlign: 'left' })"
    [ngStyle]="{
      'box-shadow':
        activeCell?.style.textAlign === 'left'
          ? 'inset 2px 2px 10px black, inset -2px -2px 10px #eee'
          : 'none'
    }"
  >
    Left
  </button> -->
  <a (click)="changeStyle({ textAlign: 'left' })"
    ><i
      class="iconfont icon-zuoduiqi"
      [ngStyle]="{
        color: activeCell?.style.textAlign === 'left' ? 'blue' : 'black'
      }"
    ></i
  ></a>
  <!-- <button
    type="button"
    (click)="changeStyle({ textAlign: 'center' })"
    [ngStyle]="{
      'box-shadow':
        activeCell?.style.textAlign === 'center'
          ? 'inset 2px 2px 10px black, inset -2px -2px 10px #eee'
          : 'none'
    }"
  >
    Center
  </button> -->
  <a (click)="changeStyle({ textAlign: 'center' })"
    ><i
      class="iconfont icon-zuoduiqi"
      [ngStyle]="{
        color: activeCell?.style.textAlign === 'center' ? 'blue' : 'black'
      }"
    ></i
  ></a>
  <!-- <button
    type="button"
    (click)="changeStyle({ textAlign: 'right' })"
    [ngStyle]="{
      'box-shadow':
        activeCell?.style.textAlign === 'right'
          ? 'inset 2px 2px 10px black, inset -2px -2px 10px #eee'
          : 'none'
    }"
  >
    Right
  </button> -->
  <a (click)="changeStyle({ textAlign: 'right' })"
    ><i
      class="iconfont icon-zuoduiqi"
      [ngStyle]="{
        color: activeCell?.style.textAlign === 'right' ? 'blue' : 'black'
      }"
    ></i
  ></a>
  <a (click)="toggleFontColorPanel($event)" style="position: relative">
    <i
      class="iconfont icon-zitiyanse"
      [ngStyle]="{
        color: activeCell?.style.color || 'black'
      }"
    ></i>
    <div
      *ngIf="showFontColorPanel"
      style="position: absolute; left: 0; top: 44px; z-index: 1000"
    >
      <ng-container *ngTemplateOutlet="colorPanel"></ng-container>
    </div>
  </a>
  <a (click)="toggleBackColorPanel()" style="position: relative">
    <i
      class="iconfont icon-tianchong"
      [ngStyle]="{
        color: activeCell?.style.background || 'black'
      }"
    ></i>
    <div
      *ngIf="showBackColorPanel"
      style="position: absolute; left: 0; top: 44px; z-index: 1000"
    >
      <ng-container *ngTemplateOutlet="colorPanel"></ng-container>
    </div>
  </a>
  <!-- <button (click)="zoomIn()">zoomIn</button> -->
  <a (click)="zoomIn()"><i class="iconfont icon-fangda"></i></a>
  <!-- <button (click)="zoomOut()">zoomOut</button> -->
  <a (click)="zoomOut()"><i class="iconfont icon-suoxiao"></i></a>
  <select
    (change)="changeStyle({ fontFamily: $event.target.value })"
    (click)="clickWithoutFocus($event)"
    [value]="activeCell?.style.fontFamily"
  >
    <option *ngFor="let fontFamily of fontFamilyArr" [value]="fontFamily">
      {{ fontFamily }}
    </option>
  </select>
  <select
    (change)="changeStyle({ fontSize: $event.target.value })"
    (click)="clickWithoutFocus($event)"
    [value]="activeCell?.style.fontSize"
  >
    <option *ngFor="let fontSize of fontSizeArr" [value]="fontSize">
      {{ fontSize }}
    </option>
  </select>
  <input
    type="file"
    placeholder="insert image"
    (change)="insertImage($event)"
    accept="image/*"
  />
</div>
<div class="formula-bar">
  <label class="bar-label">{{ (activeCell && activeCell.index) || "" }}</label
  ><input
    #formularInput
    name="formularInput"
    [ngModel]="activeCell?.content.value"
    (ngModelChange)="refreshEditCellValue($event,formularInput)"
    (mousedown)="onBarInputFocus($event)"
    (selectionchange)="onBarInputKeypress($event)"
    (mouseup)="onBarInputMouseup($event)"
    (mouseout)="onBarInputMouseup($event)"
  />
</div>
<div class="panel panel-wrapper">
  <canvas
    tabindex="1"
    autofocus
    #panel
    class="panel"
    (mouseover)="onMouseOver($event)"
    (mouseout)="onMouseOut($event)"
    (mouseenter)="onMouseEnter($event)"
    (mouseLeave)="onMouseLeave($event)"
    (mousedown)="onMouseDown($event)"
    (mousemove)="onMouseMove($event)"
    (mouseup)="onMouseUp($event)"
    (wheel)="onWheel($event)"
    (contextmenu)="onContextMenu($event)"
    (keydown)="onKeyDown($event)"
    (keypress)="onKeyPress($event)"
    (paste)="onPaste($event)"
  ></canvas>
  <canvas #actionPanel class="action-panel"></canvas>
  <canvas #animationPanel class="action-panel"></canvas>
  <canvas #floatPanel class="action-panel"></canvas>
  <canvas #floatActionPanel class="action-panel"></canvas>
  <ng-container *ngIf="editingCell">
    <div
      class="mask"
      [ngStyle]="{
        'left.px': offsetLeft * multiple,
        'top.px': offsetTop * multiple,
        'right.px': style.scrollBarWidth,
        'bottom.px': style.scrollBarWidth
      }"
    >
      <div class="mask-content">
        <!-- <input
          [appAutoFocus]="state.isCellEdit"
          name="editCell"
          type="text"
          class="editCell"
          autocomplete="off"
          [ngStyle]="{
            background: editingCell?.style.background,
            color: editingCell?.style.color,
            'font-family': editingCell?.style.fontFamily,
            'font-size.pt': editingCell?.style.fontSize * multiple,
            'font-weight': editingCell?.style.fontWeight,
            'border-width.px': editingCell?.style.borderWidth * multiple,
            'left.px':
              (editingCell?.x - scrollLeft - offsetLeft + 1) * multiple,
            'top.px': (editingCell?.y - scrollTop - offsetTop + 1) * multiple,
            'width.px':
              (editingCell?.width - 2 * editingCell?.style.borderWidth) *
              multiple,
            'height.px':
              (editingCell?.height - 2 * editingCell?.style.borderWidth) *
              multiple,
            'line-height.px':
              (editingCell?.height - 2 * editingCell?.style.borderWidth) *
              multiple
          }"
          [(ngModel)]="editingCell?.content.value"
          (keydown)="onEditCellKeyDown($event)"
        /> -->
        <app-cell-edit
          #cellEditor
          (afterInit)="afterEditCellInit($event)"
          (onkeydown)="onEditCellKeyDown($event)"
          [editingCell]="editingCell"
          [multiple]="multiple"
          [offsetTop]="offsetTop"
          [offsetLeft]="offsetLeft"
          [scrollTop]="scrollTop"
          [scrollLeft]="scrollLeft"
          [state]="state"
        ></app-cell-edit>
      </div>
    </div>
  </ng-container>
</div>

<ng-template #colorPanel>
  <div class="palette-color-grid">
    <div>
      <div class="color-box" style="margin-left: -1px; margin-top: -2px">
        <div
          class="inner-box"
          style="background-color: rgb(157, 157, 157)"
          (click)="changeColor($event)"
        ></div>
      </div>
      <div class="color-box" style="margin-left: -2px; margin-top: -2px">
        <div
          class="inner-box"
          style="background-color: rgb(38, 38, 38)"
          (click)="changeColor($event)"
        ></div>
      </div>
      <div class="color-box" style="margin-left: -2px; margin-top: -2px">
        <div
          class="inner-box"
          style="background-color: rgb(204, 0, 0)"
          (click)="changeColor($event)"
        ></div>
      </div>
      <div class="color-box" style="margin-left: -2px; margin-top: -2px">
        <div
          class="inner-box"
          style="background-color: rgb(231, 82, 0)"
          (click)="changeColor($event)"
        ></div>
      </div>
      <div class="color-box" style="margin-left: -2px; margin-top: -2px">
        <div
          class="inner-box"
          style="background-color: rgb(255, 183, 0)"
          (click)="changeColor($event)"
        ></div>
      </div>
      <div class="color-box" style="margin-left: -2px; margin-top: -2px">
        <div
          class="inner-box"
          style="background-color: rgb(103, 143, 0)"
          (click)="changeColor($event)"
        ></div>
      </div>
      <div class="color-box" style="margin-left: -2px; margin-top: -2px">
        <div
          class="inner-box"
          style="background-color: rgb(1, 136, 251)"
          (click)="changeColor($event)"
        ></div>
      </div>
      <div class="color-box" style="margin-left: -2px; margin-top: -2px">
        <div
          class="inner-box"
          style="background-color: rgb(39, 65, 177)"
          (click)="changeColor($event)"
        ></div>
      </div>
      <div class="color-box" style="margin-left: -2px; margin-top: -2px">
        <div
          class="inner-box"
          style="background-color: rgb(255, 255, 255)"
          (click)="changeColor($event)"
        ></div>
      </div>
    </div>
  </div>
</ng-template>
